.bg-sidebar{
  background-color:#ffffff;
  color: #ffffff;
}

.container-blue-principal {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 3px 1px #00000026;
  box-shadow: 0px 1px 2px 0px #0000004D;
  flex-direction: column;
}