// ============================================
// BUTTON TOKENS - CLIENT/PUBLIC SIDE
// ============================================

$btn-citrica-ui: (
  sm: (
    padding: 10px 20px,
  ),
  md: (
    padding: 10px 20px,
  ),
  lg: (
    padding: 20px 50px,
  )
);

.btn-citrica-ui{
  border-radius: var(--form-radius-btn);
  min-width: 140px;
  @include a-set($btn-citrica-ui);
}

.btn-primary{
  background-color: var(--color-primary-btn);
  border: none;
  &:hover{
    background-color: var(--color-primary-btn-hover);
    .text-component {
      color: var(--color-primary-btn-text-hover) !important;
    }
  }
  span {
    color: var(--color-primary-btn-text) !important;
  }
}

.btn-secondary{
  background-color: var(--color-secondary-btn);
  border: none;
  &:hover{
    background-color: var(--color-secondary-btn-hover);
    .text-component {
      color: var(--color-secondary-btn-text-hover) !important;
    }
  }
  span {
    color: var(--color-secondary-btn-text) !important;
  }
}

.btn-flat{
  background-color: transparent;
  border: none;
  &:hover{
    background-color: var(--color-flat-btn-hover);
    .text-component {
      color: var(--color-flat-btn-text-hover) !important;
    }
  }
  span {
    color: var(--color-flat-btn-text) !important;
  }
}
