// ============================================
// FORM TOKENS - CLIENT/PUBLIC SIDE
// ============================================

@mixin form-tokens {
  --form-radius-btn:20px;  // Border radius for inputs, selects, buttons, textareas
  --form-radius-input: 10px;
  --form-radius-select: var(--form-radius-input);
  --form-radius-textarea: var(--form-radius-input);
  --form-border-size-input: 2px; // Border size for inputs, selects, buttons, textareas
  --form-border-size-select: var(--form-border-size-input);
  --form-border-size-btn: var(--form-border-size-input);
  --form-border-size-textarea: var(--form-border-size-input);
}
